<!DOCTYPE html>
<html>
    <head>
        @Html.Partial("_Head")
    </head>
    <body class="landing-page sidebar-collapse">
        @Html.Partial("_Header")
        <div class="main">
            @RenderBody()
        </div>
        @Html.Partial("_Footer")
        @Scripts.Render("~/Content/bundle/js")
        @Scripts.Render("~/Content/bundle/js-lib")
        @RenderSection("scripts", required: false)
    </body>
</html>