<!DOCTYPE html>
<html>
    <head>
        @Html.Partial("_Head")
    </head>
    <body class="landing-page sidebar-collapse">
        @Html.Partial("_Header")
        <div class="main">
            @RenderBody()
        </div>
        @Html.Partial("_Footer")
        @Scripts.Render("~/Content/bundle/js")
        @RenderSection("scripts", required: false)

        <style>
            .main {
                background-color: #f7f7f9;
            }
        </style>
    </body>
</html>