<!DOCTYPE html>
<html>
    <head>
        @Html.Partial("_Head")
    </head>
    <body class="landing-page sidebar-collapse">
        @Html.Partial("_Header")
        <div class="main-bg">
            <div class="container">
                <div class="row">

                @RenderBody()

                @Html.Partial("_NewsLetter")

                </div>
            </div>
        </div>
        @Html.Partial("_Footer")

        @Scripts.Render("~/Content/bundle/js-lib")
        @Scripts.Render("~/Content/bundle/material-kit-js")

        @RenderSection("scripts", required: false)
    </body>

    
</html>