<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/bundle/css")
</head>
<body>
    @Html.Partial("_Header")
    <div class="container body-content">
        @RenderBody()
    </div>
    @Html.Partial("_Footer")
    @Scripts.Render("~/Content/bundle/js")
    @RenderSection("scripts", required: false)
</body>
</html>