<!DOCTYPE html>
<html>
<head>
@Html.Partial("_Head")
</head>
<body>


    @(ViewBag.IsAuthenticated ? Html.Partial("_HeaderLoged") : Html.Partial("_Header"))

    <div id="main-container" class="container-fluid">
        <div class="row">

            @Html.Partial("_Sidebar")

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                @RenderBody()
            </main>
        </div>
    </div>

    @*@Html.Partial("_Footer")*@

    @Scripts.Render("~/Content/bundle/js")
    @Scripts.Render("~/Scripts")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        var Shopy = Shopy || {};
        Shopy.Admin = Shopy.Admin || {};
        ko.applyBindings(Shopy.Admin, document.getElementById('main-container'));
    </script>
</body>
</html>