
@{
    ViewBag.Title = "ProductDetails";
}

@model Guid

<!-- ko with: productDetails -->
        <div class="card">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img data-bind="attr: {src: mainImage }" class="card-img main-img mt-3">
                    <div class="row mt-2 mb-2">

                        <!-- ko foreach: images -->
                        <div class="col-md-4">
                            <img data-bind="attr: {src: $data}, click: $root.setAsMain" class="card-img opt-img">
                        </div>
                        <!-- /ko -->
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h1 class="card-title" data-bind="text: caption"></h1>
                        <p class="card-text serif" data-bind="html: description"><p>
                        <hr />
                        <div class="row mt-5">
                            <div class="col-md-6">
                                <span class="mr-4 serif">Choose Size</span> 
                                <!-- ko foreach: sizes -->
                                    <!-- ko if: $index() > 0 -->
                                    <span> - </span>
                                    <!-- /ko -->
                                    <a href="javascript:void(0);" class="my-3 serif" data-bind="text: $data.EId"></a>
                                <!-- /ko -->
                            </div>
                            <div class="col-md-6">
                                <div class="row float-md-right serif mr-3">
                                    <div class="mr-4">Choose Quantity</div>
                                    <a class="mr-3 serif" data-bind="click: increaseQty" href="javascript:void(0)"> + </a>
                                    <span class="mr-3 price" data-bind="text: quantity"></span>
                                    <a class="serif" data-bind="click: decreaseQty" href="javascript:void(0)"> - </a>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row mt-5">
                            <div class="col-md-6 serif"><span class="font-weight-bold">Price : </span>
                                <span data-bind="text: displayPrice"></span>
                            </div>
                            <div class="col-md-6">
                                <div class="float-md-right">
                                    <img class="mr-3" src="~/Content/imgs/language.svg" />
                                    <img class="mr-3" src="~/Content/imgs/cart.svg" />
                                    <img class="mr-3" src="~/Content/imgs/favourite.svg" />
                                    <button type="button" class="btn btn-rounded btn-order">Order now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card -->

        <!-- ko if: hasRelatedProducts -->
            <div class="card-body text-center">
                <h3 class="title text-uppercase"><span class="price">Related</span> products</h3>
                <p class="font-weight-normal">Lorem ipsulum is simply dummy text of the printing and typesetting industry</p>
                <div class="row">
                    <!-- ko foreach: relatedProducts -->
                    <div class="col-lg-4 col-md-6">
                        <a data-bind="attr: { href: detailsLink }">
                            <div class="card h-90" data-bind="event: { mouseover: toogleDetails, mouseout: toogleDetails }">
                                <img data-bind="attr: { src: image1Url }, css: { 'cart-img-small': detailsVisible, 'm-auto': detailsVisible }" class="card-img-top" alt="">
                                <div class="card-body">
                                    <h4 data-bind="text: caption, css: { price: detailsVisible }" class="card-title"></h4>
                                    <h5 data-bind="text: price, visible: !detailsVisible()" class="price font-weight-bold"></h5>
                                    <div data-bind="visible: detailsVisible">
                                        <div class="pt-3 m-auto">
                                            <span class="mr-2 serif">sizes: </span>
                                            <!-- ko foreach: $data.sizes -->
                                            <!-- ko if: $index() > 0 -->
                                            <span> - </span>
                                            <!-- /ko -->
                                            <span class="my-2" data-bind="text: $data.id"></span>
                                            <!-- /ko -->
                                        </div>
                                        <div class="pt-3 border-bottom mx-auto mb-3">
                                            <div class="mb-4">
                                                <span class="dot bg-danger"></span>
                                                <span class="dot bg-primary"></span>
                                                <span class="dot bg-info"></span>
                                                <span class="dot bg-success"></span>
                                            </div>
                                        </div>
                                        <div class="pt-3 mx-auto">
                                            <img src="~/Content/imgs/language.svg" />
                                            <img class="ml-4 mr-4" src="~/Content/imgs/cart.svg" />
                                            <img src="~/Content/imgs/favourite.svg" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- /ko -->
                </div>
            </div>
        <!-- /ko -->
<!-- /ko -->
@section scripts {
    <script type="text/javascript">

     var Products = Products || {};

     const endpoints = {
         LoadDetails: "@Url.RouteUrl("Products", new { action = "LoadDetails", id = Model })",
         Details: "@Url.RouteUrl("Products", new { action = "Details", id = "id" })"
     };

     const productImage1UrlTemplate = "@SettingsHelper.ProductImage1TemplateUrl";
     const productImage2UrlTemplate = "@SettingsHelper.ProductImage2TemplateUrl";
     const productImage3UrlTemplate = "@SettingsHelper.ProductImage3TemplateUrl";

     var productDetails = new Products.Details();
     productDetails.init();

     ko.applyBindings(productDetails);

    </script>
}
